*{
margin :0px;
padding : 0px;
}

#wrapper {
width : 990px;
margin : 0 auto;
}

#titre_site{
font-family : Arial;
font-size : 20px;
color : blue;
margin: 10px 0 0 200px;
}

#titre_admin{
font-family : Arial;
font-size : 10px;
color : orange;
margin: 10px 0 0 200px;
}

#titre_liste {
font-family : Arial;
font-size : 10px;
font-weight : bold;
color : black;
margin : 0 0 10px -12px;
}

#titre_nom_pays{
font-family : Arial;
font-size : 20px;
color : black;
margin-left : 10px;
}

section {
width : 450px;
margin : 20px 0 0 200px;
font-family : Arial;
font-size : 15px;
}

menu {
position : absolute;
top : 50px;
right : 150px;
}


#inc_liste{
margin : 20px 0 0 215px;
}


menu ul li a, #menu ul li a, #acces_admin ul li a {
color : #ea5a30;
font-family : helvetica;
font-size : 15px;
text-decoration : none;
}

#menu_liste ul li a {
color : blue;
font-family : Arial;
font-size : 15px;
text-decoration : underline;
}

menu ul li a:hover, #acces_admin ul li a:hover, #menu_liste ul li a:hover,  #valider:hover , #connexion a:hover, .list_search li a:hover {
color : orange;
}

#choix_pays {
position : absolute;
right : 400px;
top : 80px;
}

#choix_pays p {
margin-bottom : 10px;
}

form p {
margin-bottom : 10px;
}

#connexion{
font-family : Arial;
font-size : 12px;
color : blue;
background-color : #edeeea;
text-align : center;
min-width : 80px;
max-width: 180px;
padding : 3px;
position : absolute;
top : -40px;
right : 10px;
margin-bottom : 200px;
border : solid black 1px;
border-radius : 10px;
}

#menu_site , #menu_admin{
margin-top : 40px;
}

#menu_site li , #menu_admin li {
list-style-type : none;
border : solid grey 1px;
width : 180px;
height : 23px;
text-align : center;
padding-top : 5px;
background-color : #eaeeee;
}

#table_stat table{
margin-top : 30px;
border-collapse : collapse;
font-family : Arial;
font-size : 15px;
}

#table_stat table tr td, #table_stat table tr th {
border : solid black 1px;
text-align : center;
padding : 2px;
}

#table_stat table tr th {
background-color : #edeeea;
font-weight : bold;
}

#search_form{
margin-top : 30px;
}

#search_form input#search {
width : 300px;
height : 28px;
color : grey;
border : solid black 1px;
padding-left : 5px;
}

#search_form input#search_submit {
position : relative;
background-image : url(../images/loupe_search.jpg);
height : 30px;
width : 30px;
border: none;
left : -31px;
}

#search_form input#search_submit:hover {
cursor : pointer;
border : solid grey 1px;
}

.error {
font-family : Arial;
font-size : 15px;
color : red;
font-weight : bold;
}

#result {
margin: 20px 0 10px 0;
font-family : Arial;
font-size : 20px;
}

#last_searches {
margin: 40px 0 10px 0;
font-family : Arial;
font-size : 17px;
}

.list_search li{ 
margin: 0 0 10px 20px;
list-style-type : hiragana;
color : #7950ca;
}

.list_search li a {
color : #7950ca;
font-size : helvetica;
font-weight : bold;
font-size : 16px;
text-decoration : underline; 
}